<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<th:block th:replace="~{layout/fragments :: documentHeader}"></th:block>

	<!-- <link href="./css/common.css" rel="stylesheet" /> -->
	<!-- 공통 CSS 파일 포함 -->
	<title>Rest</title>

</head>

<body>
	<header>
		<th:block th:replace="~{layout/fragments :: header}"></th:block>
	</header>

	<div class="container">

		<div class="m-5 ">
			<div class="p-3">
				<div class="">
					<a style="display: inline-block;" href="#"> <img alt="albumCover"
							th:src="@{/images/albumcover/{image}(image=${data.albumImage})}" class="rounded "
							style="vertical-align: middle; left: 400px; width: 220px; height: 220px;">
					</a>
					<div class="ms-2" style="display: inline-block; vertical-align: middle;">
						<h2 class="mt-2" th:text="${data.songTitle}"></h2>
						<p class="mt-4" id="singerNames">가수
							<span class="me-2"></span>
							<!-- !아티스트의 리스트 출력 --> <!-- group이 있을 때 (그룹으로 참여한 경우) -->
							<th:block th:if="${albumGroup != null}">
								<!-- albumGroup 리스트와 filteredArtists 리스트 출력하기 -->
								<th:block th:if="${albumGroup != null or filteredArtists != null}">
									<th:block th:if="${albumGroup != null}">
										<th:block th:each="group, iterStat : ${albumGroup}">
											<a th:text="${group.groupName}" th:href="@{/group/songs(groupId=${group.id})}"
												th:style="'cursor: pointer; font-weight: normal; text-decoration: none; color: black;'"
												onmouseover="this.style.fontWeight='bold'; this.style.textDecoration='underline';"
												onmouseout="this.style.fontWeight='normal'; this.style.textDecoration='none'; this.style.color='black';"></a>
											<!-- 마지막 항목이 아닌 경우에만 구분 기호 추가 -->
											<span th:if="!${iterStat.last}">,
											</span>
										</th:block>
										<!-- albumGroup 리스트가 존재하고 filteredArtists가 존재하면 구분 기호 추가 -->
										<th:block th:if="${filteredArtists != null and filteredArtists.size() > 0}">
											,
										</th:block>
									</th:block>

									<th:block th:if="${filteredArtists != null}">
										<th:block th:each="artist, iterStat : ${filteredArtists}">
											<a th:text="${artist.artistName}" th:href="@{/artist/songs(artistId=${artist.id})}"
												th:style="'cursor: pointer; font-weight: normal; text-decoration: none; color: black;'"
												onmouseover="this.style.fontWeight='bold'; this.style.textDecoration='underline';"
												onmouseout="this.style.fontWeight='normal'; this.style.textDecoration='none'; this.style.color='black';"></a>
											<!-- 마지막 항목이 아닌 경우에만 구분 기호 추가 -->
											<span th:if="!${iterStat.last}">,
											</span>
										</th:block>
									</th:block>
								</th:block>
							</th:block> <!-- group이 없을 때 -->
							<th:block th:unless="${albumGroup != null}">
								<span th:each="artist, iterStat : ${albumArtist}">
									<a th:text="${artist.artistName}" th:href="@{/artist/songs(artistId=${artist.id})}"
										th:style="'cursor: pointer; font-weight: normal; text-decoration: none; color: black;'"
										onmouseover="this.style.fontWeight='bold'; this.style.textDecoration='underline';"
										onmouseout="this.style.fontWeight='normal'; this.style.textDecoration='none'; this.style.color='black';">
									</a> <span th:if="!${iterStat.last}">,
									</span>
								</span>
							</th:block>
						</p>
						<p class="mt-2">

							앨범<span class="ms-3" style="cursor: pointer;" onmouseover="this.style.color='blue';"
								onmouseout="this.style.color='black';" onclick="location.href='#'" th:text="${data.albumName}"></span>
						</p>
						<p class="mt-2" id="genre">장르</p>
						<div class="mt-3">
							<span id="songLikeCount"></span>
							<button id="btnLike" class="btn fs-3"></button>
							<button th:data-id="${data.songId}" id="listenBtn" title="재생" class="btn"
								style="background-image: url('../images/icon/play.png'); width: 45px; height: 45px; background-size: cover; background-repeat: no-repeat;"></button>

							<button th:data-id="${data.songId}" id="addCPList" title="재생목록에 추가" class="btn ms-1"
								style="background-image: url('../images/icon/playList.png'); width: 60px; height: 60px; background-size: cover; background-repeat: no-repeat;"></button>

							<button id="btnAddPlayList" class="btn ms-1" title="내 리스트에 담기"
								style="background-image: url('../images/icon/myPlayList.png'); width: 50px; height: 50px; background-size: cover; background-repeat: no-repeat;"></button>
						</div>
					</div>
				</div>
			</div>
			<div class="mt-4">
				<h4>상세 정보</h4>
				<p>
					<span class="mt-3 fw-bold">곡명</span><span class="ms-3" th:text="${data.songTitle}"></span>
				</p>
				<p id="writers">
					<span class="mt-3 fw-bold">작사</span>
				</p>
				<p id="composers">
					<span class="mt-3 fw-bold">작곡</span>
				</p>
				<p id="arrangers">
					<span class="mt-3 fw-bold">편곡</span>
				</p>
			</div>

			<div class="mt-3 p-2">
				<p th:text="${data.lyrics}" style="white-space: pre-wrap; word-wrap: break-word;" id="lyrics"></p>
			</div>

			<section>
				<div class="mt-2 card">
					<div class="card-header">
						<button class="btn btn-outline-secondary" id="btnToggle" data-toggle="collapse">댓글
							보기</button>
					</div>
					<div class="card-body collapse" id="collapseComments">
						<!-- 댓글 작성 -->
						<div id="commnetRegistForm" class="row">
							<div class="col-10">
								<textarea class="form-control" id="commentText" rows="3" placeholder="댓글 내용 작성"></textarea>

								<!-- 댓글 작성자를 로그인 사용자 이름으로 설정 -->
								<input class="d-none" id="commentWriter" th:value="${#authentication.name}" readonly />
								<input class="d-none" id="id" th:value="${data.songId}" readonly />
							</div>
							<div class="col-2">
								<button class="btn btn-outline-success form-control" id="btnRegisterComment">등록</button>
							</div>
						</div>

						<!-- 댓글 목록 -->
						<div class="mt-2" id="divComments"></div>

						<!-- 댓글 목록 페이징 처리를 위한 버튼: [더보기] 버튼 -->
						<div id="divBtnMore" class="mt-2 d-flex d-none justify-content-center">
							<button class="btn btn-outline-secondary" id="btnMoreComments">더보기</button>
						</div>
					</div>
				</div>
			</section>
		</div>

		<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
			aria-labelledby="staticBackdropLabel" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title">추가할 플레이리스트</h5>
						<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
					</div>
					<div id="playLists" class="modal-body" style="height: 393px;">
						<!--  플리가 추가 될 부분 -->
					</div>
					<nav aria-label="Playlist navigation">
						<ul id="pagination" class="pagination pagination-sm justify-content-center">
							<!-- 페이징이 추가될 부분 -->
						</ul>
					</nav>
					<div class="modal-footer">
						<button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">취소</button>
					</div>
				</div>
			</div>
		</div>
	</div>

	<footer>
		<!-- 모달 요소들을 footer로 사용. 모든 페이지에 사용되기 때문 -->
		<th:block th:replace="~{layout/fragments :: footer}"></th:block>
	</footer>


	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
		crossorigin="anonymous"></script>
	<script src="https://unpkg.com/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>

	<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

	<script th:inline="javascript">
		const songId = /*[[${data.songId}]]*/'';

		let authUser = /*[[${loginUserId}]]*/ '';

		const writers = /*[[${data.writers}]]*/'[]';
		const writerIds = /*[[${data.writerIds}]]*/'[]';

		const singers = /*[[${data.singers}]]*/"";
		const singerIds = /*[[${data.singerIds}]]*/'[]';

		const composers = /*[[${data.composers}]]*/'[]';
		const composerIds = /*[[${data.composerIds}]]*/'[]';

		const arrangers = /*[[${data.arrangers}]]*/'[]';
		const arrangerIds = /*[[${data.arrangerIds}]]*/'[]';

		const genres = /*[[${data.genres}]]*/'[]';

		let refresh = '${refresh}';
		// 리다이렉트 시 재생페이지를 새로고침하기 위한 코드
	</script>

	<script th:src="@{/js/comment.js}"></script>
	<script th:src="@{/js/songDetails.js}"></script>
	<script th:src="@{/js/addCurrentPlayList.js}"></script>
</body>

</html>