<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <th:block th:replace="~{layout/fragments :: documentHeader}"></th:block>
        <link rel="stylesheet" th:href="@{/css/chart.css}">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet" />
    </head>
    <body>
        <header>
            <th:block th:replace="~{layout/fragments :: header}"></th:block>
        </header>
        
        <main>
            <div class="container my-3">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th><input type="checkbox" id="selectAllCheckbox" /></th>
                            <th>순위</th>
                            <th>곡 정보</th>
                            <th>앨범</th>
                            <th>좋아요</th>
                            <th>듣기</th>
                            <th>재생목록</th>
                            <th>담기</th>
                            <th>뮤비</th>
                        </tr>
                    </thead>
                    <tbody id="songsBody">
                        <!-- 노래 데이터가 여기에 동적으로 추가됩니다. -->
                    </tbody>
                </table>
                <div id="loading" class="text-center mt-3" style="display: none;">
                    <p>Loading...</p>
                </div>
                <div class="toggle-container">
				    <button id="loadMoreBtn" class="toggle-button">더보기
				        <span class="toggle-icon">&#9662;</span>
				    </button>
				</div>
            </div>
        </main>
         
        <!-- 플로팅 버튼 그룹 -->
        <div id="floatingButtonGroup" class="floating-button-group d-none">
            <div class="selected-count mb-2">0개 선택됨</div>
            <div class="btn-group" role="group">
                <button type="button" class="btn btn-primary btn-sm play-selected">
                    <img src="/images/icon/play.png" alt="듣기" class="btn-icon"> 듣기
                </button>
                <button type="button" class="btn btn-primary btn-sm add-to-playlist">
                    <img src="/images/icon/playList.png" alt="재생목록" class="btn-icon"> 재생목록
                </button>
                <button type="button" class="btn btn-primary btn-sm add-to-my-list">
                    <img src="/images/icon/myPlayList.png" alt="담기" class="btn-icon"> 담기
                </button>
            </div>
            <button type="button" class="btn btn-secondary btn-sm deselect-all mt-2">선택 해제</button>
        </div>
        
        <!-- 플레이리스트 모달 -->
        <div class="modal fade" id="selectPlayList" tabindex="-1" aria-labelledby="selectPlayListLabel" aria-hidden="true">
           <div class="modal-dialog modal-lg">
               <div class="modal-content">
                   <div class="modal-header">
                       <h5 class="modal-title" id="selectPlayListLabel">플레이리스트 선택</h5>
                       <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                   </div>
                   <div class="modal-body">
                       <div id="playLists" class="playlist-container"></div>
                   </div>
                   <div class="modal-footer">
                       <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">닫기</button>
                       <button type="button" id="btnAddSong" class="btn btn-primary">곡 추가</button>
                   </div>
               </div>
           </div>
        </div>
        
        <th:block th:replace="~{layout/fragments :: footer}"></th:block>
        
        <script th:inline="javascript">
            const refresh = /*[[${refresh}]]*/ '';
            const loginUserId = /*[[${loginUserId}]]*/ null;
        </script>
        
        <!-- 우리가 만든 JS 파일 -->
        <script th:src="@{/js/songsNewest.js}"></script>
        <script th:src="@{/js/addCurrentPlayList.js}"></script>
        
    </body>
</html>
