<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<th:block th:replace="~{layout/fragments :: documentHeader}"></th:block>
        <link rel="stylesheet" th:href="@{/css/artist_songs.css}">
	</head>
	<body>
        <th:block th:replace="~{layout/fragments :: header}"></th:block>
		
        <main>
            <div class="container" style="padding: 30px;">
                <div class="m-3 ">
                    <div class="p-3">
                        <img alt="artistCover"
                            th:with="profileImg=@{/images/profileimage/profile.jpg}"  
                            th:src="@{${artist.artistImage} != null ? '/artist/image/' + ${artist.artistImage} : ${profileImg}}"
                            class="rounded-circle"
                            style="display: inline-block; vertical-align: middle; left: 400px; width: 240px; height: 240px; object-fit: cover;">
                        <div class="ms-3"
                            style="display: inline-block; vertical-align: middle;">
                            <h2 class="mt-2" style="font-weight: bold;" th:text="${artist.artistName}"></h2>
                            <th:block sec:authorize="isAuthenticated()">
                                <h2 th:text="${#authentication.principal.id}" class="d-none"></h2>
                            </th:block>
                            <div class="mt-3">
                                <button id="btnLike" class="btn fs-3"></button>
                                <button data-id="${data.songId}" id="songButton"
                                    class="btn ms-1"
                                    style="border-radius: 5px; background-color: #007bff; color: white;">곡</button>
                                <button id="albumButton" class="btn ms-1"
                                    th:onclick="'window.location.href = \'' + @{/artist/albums(artistId=${artist.id})} + '\';'"
                                    onmouseover="this.style.color='#0056b3'"
                                    onmouseout="this.style.color='black'">앨범</button>
                            </div>
                        </div>
                    </div>
                    <div class="mt-4">
                        <h4 style="font-weight: bold;">상세 정보</h4>
                    </div>
                    <!-- artistDescription을 데이터 속성으로 전달 -->
                    <div id="artist-info" th:data-artist-description="${artist.artistDescription}"></div>
        
                    <div class="mt-3 p-2">
                        <p id="artistDescription"></p>
                    </div>
                    <!-- Artist가 참여한 곡 출력 -->
                    <div class="card-body">
                        <table class="table table-striped"
                            style="border: 1px solid #ddd;">
                            <thead>
                                <tr>
                                    <!-- 전체 선택 체크박스 추가 -->
                                    <th style="text-align: center; vertical-align: middle;">
                                        <input type="checkbox" id="selectAllCheckbox">
                                    </th>
                                    <th style="text-align: left; vertical-align: middle;">커버</th>
                                    <th style="text-align: left; vertical-align: middle; width: 55%">노래 제목</th>
                                    <th style="text-align: left; vertical-align: middle;">아티스트</th>
                                    <th style="text-align: center; vertical-align: middle; white-space: nowrap;">듣기</th>
                                    <th style="text-align: center; vertical-align: middle; white-space: nowrap;">재생목록</th>
                                    <th style="text-align: center; vertical-align: middle; white-space: nowrap;">내 리스트</th>
                                </tr>
                            </thead>
                            <tbody id="resultTable">
                                <tr th:each="s : ${songs}">
                                    <td style="text-align: center; vertical-align: middle;">
                                        <input type="checkbox" class="songCheckbox" th:data-song-id="${s.songId}">
                                    </td>
                                    <td style="text-align: left; vertical-align: middle; font-size: 14px;">
                                        <a th:href="@{/album/detail(albumId=*{s.albumId})}">
                                        <img th:src="@{/images/albumcover/{albumImage}(albumImage=${s.albumImage})}" width="80px" height="80px">
                                        </a>
                                    </td>
                                    <td style="text-align: left; vertical-align: middle; font-size: 14px;" class="fs-6">
                                        <a th:href="@{/song/detail(songId=*{s.songId})}"
                                        style="color: black; text-decoration: none;"
                                        onmouseover="this.style.color='blue';"
                                        onmouseout="this.style.color='black';" th:text="${s.title}"></a><br>
                                        <span style="display: inline-block; margin-top: 5px;"> <!-- 여기서 margin-top 값을 조정하여 간격을 조절 -->
                                        <a th:href="@{/album/detail(albumId=*{s.albumId})}"
                                        style="color: gray; text-decoration: none;"
                                        onmouseover="this.style.color='blue';"
                                        onmouseout="this.style.color='gray';" th:text="${s.albumName}"></a>
                                        </span>
                                    </td>
                                    <td style="text-align:left; vertical-align: middle; font-size: 14px;" class="fs-6">
                                    <!-- 그룹과 아티스트 이름을 통합하여 출력 -->
                                    <th:block th:with="totalNames = ${#lists.size(s.groupNames) + #lists.size(s.artistNames)}">
                                        <th:block th:each="index : ${#numbers.sequence(0, totalNames - 1)}">
                                            <!-- 그룹 이름 출력 -->
                                            <th:block th:if="${index < #lists.size(s.groupNames)}">
                                                <a th:href="@{/group/songs(groupId=${s.groupIds[index]})}"
                                                   th:text="${s.groupNames[index]}"
                                                   style="color: black; text-decoration: none;"
                                                   onmouseover="this.style.color='blue';"
                                                   onmouseout="this.style.color='black';"></a>
                                            </th:block>
                                            <!-- 아티스트 이름 출력 -->
                                            <th:block th:if="${index >= #lists.size(s.groupNames)}">
                                                <a th:href="@{/artist/songs(artistId=${s.artistIds[index - #lists.size(s.groupNames)]})}"
                                                   th:text="${s.artistNames[index - #lists.size(s.groupNames)]}"
                                                   style="color: black; text-decoration: none;"
                                                   onmouseover="this.style.color='blue';"
                                                   onmouseout="this.style.color='black';"></a>
                                            </th:block>
                                            <!-- 항목 사이에 반점 추가 -->
                                            <th:block th:if="${index < totalNames - 1}">
                                                <span>, </span>
                                            </th:block>
                                        </th:block>
                                    </th:block>
                                    </td>
                                    <td style="text-align: center; vertical-align: middle;">
                                        <button
                                            style="background-image: url('../images/icon/play.png'); 
                                            width: 40px; height: 40px; background-size: cover; background-repeat: no-repeat;"
                                            th:data-songId="${s.songId}"
                                            th:data-id="${s.songId}"
                                            class="playButton btn"
                                            id="listenBtn"></button>
                                    </td>
                                    <td style="text-align: center;">
                                        <button
                                            th:data-id="${s.songId}"
                                            id="addCPList" title="재생목록에 추가"
                                            class="btn mt-3"
                                            style="background-image: url('../images/icon/playList.png'); 
                                            width: 40px; height: 40px; background-size: cover; background-repeat: no-repeat;"></button>
                                    </td>
                                    <td
                                        style="text-align: center; vertical-align: middle;">
                                        <button
                                            style="background-image: url('../images/icon/myPlayList.png'); 
                                            width: 40px; height: 40px; background-size: cover; background-repeat: no-repeat;"
                                            th:data-songId="${s.songId}"
                                            class="addPlayList btn"></button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <h5 id="defaultList" class="mt-4"
                            style="text-align: center; color: gray;"></h5>
                    </div>
                </div>
        
                <div class="modal fade" id="staticBackdrop3"
                    data-bs-backdrop="static" data-bs-keyboard="false"
                    tabindex="-1" aria-labelledby="staticBackdropLabel"
                    aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title">추가할 플레이리스트</h5>
                                <button type="button" class="btn-close"
                                    data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div id="playLists" class="modal-body"
                                style="height: 393px;">
                                <!--  플리가 추가 될 부분 -->
                            </div>
                            <nav aria-label="Playlist navigation">
                                <ul id="pagination"
                                    class="pagination pagination-sm justify-content-center">
                                    <!-- 페이징이 추가될 부분 -->
                                </ul>
                            </nav>
                            <div class="modal-footer">
                                <button type="button"
                                    class="btn btn-outline-secondary"
                                    data-bs-dismiss="modal">취소</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
        
        <!-- 플레이리스트 모달 -->
        <div class="modal fade" id="selectPlayList" tabindex="-1" aria-labelledby="selectPlayListLabel" aria-hidden="true">
           <div class="modal-dialog modal-lg">
               <div class="modal-content">
                   <div class="modal-header">
                       <h5 class="modal-title" id="selectPlayListLabel">플레이리스트 선택</h5>
                       <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                   </div>
                   <div class="modal-body">
                       <div id="playLists" class="playlist-container"></div>
                   </div>
                   <div class="modal-footer">
                       <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">닫기</button>
                       <button type="button" id="btnAddSong" class="btn btn-primary">곡 추가</button>
                   </div>
               </div>
           </div>
        </div>
        
        <!-- 플로팅 버튼 그룹 -->
        <div id="floatingButtonGroup" class="floating-button-group d-none">
            <div class="selected-count mb-2">0개 선택됨</div>
            <div class="btn-group" role="group">
                <button type="button" class="btn btn-primary btn-sm play-selected">
                    <img src="/images/icon/play.png" alt="듣기" class="btn-icon"> 듣기
                </button>
                <button type="button" class="btn btn-primary btn-sm add-to-playlist">
                    <img src="/images/icon/playList.png" alt="재생목록" class="btn-icon"> 재생목록
                </button>
                <button type="button" class="btn btn-primary btn-sm add-to-my-list">
                    <img src="/images/icon/myPlayList.png" alt="담기" class="btn-icon"> 담기
                </button>
            </div>
            <button type="button" class="btn btn-secondary btn-sm deselect-all mt-2">선택 해제</button>
        </div>
        
        <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
        
        <script src="/js/artist_songs.js"></script>
        <script src="/js/addCurrentPlayList.js"></script>
        
        <script th:inline="javascript">
            const refresh = /*[[${refresh}]]*/ '';
            const loginUserId = /*[[${loginUserId}]]*/ null;
            const artistId = /*[[${artist.id}]]*/'';
        </script>
        
        <th:block th:replace="~{layout/fragments :: footer}"></th:block>
	</body>
</html>
