<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<th:block th:replace="~{layout/fragments :: documentHeader}"></th:block>
	<style>
		.intro {
			position: relative;
			/* left: 20px; */
			margin-left: 20px;
		}

		a,
		p {
			text-decoration-line: none;
			color: black;
		}

		a:hover {
			text-decoration: underline;
			font-weight: bold;
		}

		table {
			border-collapse: separate;
			border-spacing: 0 5px;
			width: 100%;
		}

		#like {
			position: relative;
			/* top: 20px; */
			/* left: 30px; */
		}

		.submenu {
			width: 8%;
		}

		#content {
			padding: 20px;
		}

		/* 너는 챗지피티를	 믿어?  */
		#songPlayerContainer {
			display: none;
			position: fixed;
			bottom: 0;
			width: 100%;
			background: #f1f1f1;
			padding: 10px;
			box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.2);
			z-index: 1000;
		}

		#songPlayerContainer iframe {
			width: 100%;
			height: 60px;
			border: none;
		}

		/* 너는 챗지피티를 믿어?  */
	</style>
</head>

<body>
	<header>
		<th:block th:replace="~{layout/fragments :: header}"></th:block>
	</header>
	<main>
		<div class="container mt-2 card">
			<div class="card-header">
				<section>
					<div class="fw-bold">
						"<span th:text="${album.albumName}"></span>"
						앨범정보
					</div>
					<hr />
					<div style="float: left" class="mouseScale-up">
						<a th:href="@{/album/detail(albumId=${album.albumId})}">
							<img th:src="@{/images/albumcover/{albumImage}(albumImage=${album.albumImage})}" alt="앨범 커버" width="250"
								height="250" />
						</a>
					</div>
					<div style="float: left">
						<table class="table-borderless intro">
							<tr>
								<td class="m-2"><span> [<span th:text="${album.albumType}"></span>]
									</span></td>
							</tr>
							<tr>
								<td>앨범 명</td>
								<td class="intro"><a th:href="@{/album/detail(albumId=${album.albumId})}"
										th:text="${album.albumName}"></a></td>
							</tr>
							<tr>
								<td>아티스트</td>
								<td id="singerNames" class="intro">

									<!-- !아티스트의 리스트 출력 --> <!-- group이 있을 때 (그룹으로 참여한 경우) -->
									<th:block th:if="${albumGroup != null}">
										<!-- albumGroup 리스트와 filteredArtists 리스트 출력하기 -->
										<th:block th:if="${albumGroup != null or filteredArtists != null}">
											<th:block th:if="${albumGroup != null}">
												<th:block th:each="group, iterStat : ${albumGroup}">
													<a th:text="${group.groupName}" th:href="@{/group/songs(groupId=${group.id})}"
														th:style="'cursor: pointer; font-weight: normal; text-decoration: none; color: black;'"
														onmouseover="this.style.fontWeight='bold'; this.style.textDecoration='underline';"
														onmouseout="this.style.fontWeight='normal'; this.style.textDecoration='none'; this.style.color='black';"></a>
													<!-- 마지막 항목이 아닌 경우에만 구분 기호 추가 -->
													<span th:if="!${iterStat.last}">,
													</span>
												</th:block>
												<!-- albumGroup 리스트가 존재하고 filteredArtists가 존재하면 구분 기호 추가 -->
												<th:block th:if="${filteredArtists != null and filteredArtists.size() > 0}">
													,
												</th:block>
											</th:block>

											<th:block th:if="${filteredArtists != null}">
												<th:block th:each="artist, iterStat : ${filteredArtists}">
													<a th:text="${artist.artistName}" th:href="@{/artist/songs(artistId=${artist.id})}"
														th:style="'cursor: pointer; font-weight: normal; text-decoration: none; color: black;'"
														onmouseover="this.style.fontWeight='bold'; this.style.textDecoration='underline';"
														onmouseout="this.style.fontWeight='normal'; this.style.textDecoration='none'; this.style.color='black';"></a>
													<!-- 마지막 항목이 아닌 경우에만 구분 기호 추가 -->
													<span th:if="!${iterStat.last}">,
													</span>
												</th:block>
											</th:block>
										</th:block>
									</th:block> <!-- group이 없을 때 -->
									<th:block th:unless="${albumGroup != null}">
										<span th:each="artist, iterStat : ${albumArtist}">
											<a th:text="${artist.artistName}" th:href="@{/artist/songs(artistId=${artist.id})}"
												th:style="'cursor: pointer; font-weight: normal; text-decoration: none; color: black;'"
												onmouseover="this.style.fontWeight='bold'; this.style.textDecoration='underline';"
												onmouseout="this.style.fontWeight='normal'; this.style.textDecoration='none'; this.style.color='black';">
											</a> <span th:if="!${iterStat.last}">,
											</span>
										</span>
									</th:block>

								</td>
							</tr>
							<tr>
								<td>발매일</td>
								<td class="intro" id="date" th:text="${album.albumReleaseDate}"></td>
							</tr>
							<tr>
								<td>장르</td>
								<td id="genre" class="intro">
									<span th:each="genre, iterStat : ${genres}">
										<!-- TODO: 장르 차트 페이지로 링크 변경 -->
										<a th:href="@{/song/genreChart(genreName=${genre.genreName})}" th:text="${genre.genreName}"
											th:style="'cursor: pointer;'"
											onmouseover="this.style.fontWeight='bold'; this.style.textDecoration='underline';"
											onmouseout="this.style.fontWeight='normal'; this.style.textDecoration='none'; this.style.color='black';"></a>
										<!-- 마지막 원소가 아니라면 ", " 추가 -->
										<span th:if="${!iterStat.last}">, </span>
									</span>
								</td>
							</tr>
							<tr style="text-align: left;">
								<td>타이틀 곡</td>
								<td id="titleSong" class="intro">
									<span th:each="titleSong, iterStat : ${titleSongs}">
										<a th:href="@{/song/detail(songId=${titleSong.song.songId})}" th:text="${titleSong.song.title}"
											th:style="'cursor: pointer;'"
											onmouseover="this.style.fontWeight='bold'; this.style.textDecoration='underline';"
											onmouseout="this.style.fontWeight='normal'; this.style.textDecoration='none'; this.style.color='black';"></a>
										<!-- 마지막 원소가 아니라면 ", " 추가 -->
										<span th:if="${!iterStat.last}">, </span>
									</span>
								</td>
							</tr>
						</table>
						<div id="like">
							<sapn id="albumLikeCount"></sapn>
							<button id="btnLike" title="앨범 좋아요" class="btn fs-3">♡</button>
							<button id="btnListenAlbum" title="앨범 재생" class="btn intro ms-1" style="background-image: url('../images/icon/play.png'); 
                                width: 45px; height: 45px; background-size: cover; background-repeat: no-repeat;"
								th:data-id="${album.albumId}"></button>
							<button id="btnAddCPListAlbum" title="앨범을 재생목록에 추가" class="btn intro ms-3" style="background-image: url('../images/icon/playList.png'); 
                                width: 60px; height: 60px; background-size: cover; background-repeat: no-repeat;"
								th:data-id="${album.albumId}"></button>
							<button id="btnAddUPListAlbum" class="d-none intro btn mx-4" title="앨범을 내 리스트에 담기" style="background-image: url('../images/icon/myPlayList.png'); 
                                width: 50px; height: 50px; background-size: cover; background-repeat: no-repeat;"
								data-id="${album.albumId}"></button>
						</div>
					</div>
				</section>
			</div>
			<div class="card-body table-responsive">
				<h3>수록곡 (<span th:text="${songsCount}"></span>)</h3>
				<table class="table table-striped table-hover">
					<thead class="font-size-sm">
						<th class="submenu">#</th>
						<th class="submenu"></th>
						<th style="width: 30%;">음원</th>
						<th style="width: 30%;">아티스트</th>
						<!-- <th class="submenu">좋아요</th> -->
						<th class="submenu">듣기</th>
						<th class="submenu">재생목록</th>
						<th class="submenu">리스트</th>
					</thead>
					<tbody class="table-group-divider font-size-sm">
						<tr th:each="s, status : ${albumSongs}">
							<td th:text="${status.index + 1}"></td>
							<td>
								<!-- !비교 조건에 따라 Title 태그를 삽입 -->
								<!-- 타이틀 곡 리스트에서 song 객체를 꺼내 그것과 출력할 음원을 비교함. -->
								<!-- 타이틀 송인지 확인 -->
								<span th:each="titleSong, iterStat : ${album.titleSongs}">
									<span th:if="${#lists.contains(titleSong.song, s.key)}" class="fw-bold">Title</span>
								</span>
							</td>
							<td class="fw-bold">
								<a th:href="@{/song/detail(songId=${s.key.songId})}"
									th:text="${s.key.title != null ? s.key.title : ''}"></a>
							</td>
							<td>
								<!--! s.value가 Artist 객체들의 리스트라고 가정 -->
								<th:block th:if="${s.value != null}">
									<!-- Artist 리스트를 순회하여 각 artistName과 id를 처리 -->
									<span th:each="singer, iterStat : ${s.value}">
										<span th:if="${singer.type == 'group'}">
											<a th:href="@{/group/songs(groupId=${singer.data.id})}" th:text="${singer.data.groupName}"
												th:style="'cursor: pointer;'"
												onmouseover="this.style.fontWeight='bold'; this.style.textDecoration='underline';"
												onmouseout="this.style.fontWeight='normal'; this.style.textDecoration='none'; this.style.color='black';">

											</a>
										</span>
										<span th:if="${singer.type == 'artist'}">
											<a th:href="@{/artist/songs(artistId=${singer.data.id})}" th:text="${singer.data.artistName}"
												th:style="'cursor: pointer;'"
												onmouseover="this.style.fontWeight='bold'; this.style.textDecoration='underline';"
												onmouseout="this.style.fontWeight='normal'; this.style.textDecoration='none'; this.style.color='black';"></a>
										</span>
										<!-- 마지막 원소가 아니라면 ", " 추가 -->
										<span th:if="${!iterStat.last}">, </span>
									</span>
								</th:block>

								<!-- `s.value`가 null일 때를 처리 -->
								<th:block th:if="${s.value == null}">
									<!-- 빈 상태를 처리하기 위한 블록, 필요에 따라 추가 -->
								</th:block>
							</td>
							<td>
								<button th:id="'listenBtn'" th:data-id="${s.key.songId != null ? s.key.songId : ''}" title="재생"
									class="btn"
									style="background-image: url('../images/icon/play.png'); width: 45px; height: 45px; background-size: cover; background-repeat: no-repeat;"></button>
							</td>
							<td>
								<button th:id="'addCPList'" class="btn ms-1" th:data-id="${s.key.songId != null ? s.key.songId : ''}"
									style="background-image: url('../images/icon/playList.png'); width: 60px; height: 60px; background-size: cover; background-repeat: no-repeat;">
								</button>
								<!-- <button id="openModalBtn" type="button" class="btn btn-primary openModalBtn"
															data-bs-toggle="modal" data-bs-target="#sessionListModal">
															재생목록
											</button> -->
							</td>
							<td>
								<button class="addPlayList btn ms-1" th:data-songId="${s.key.songId != null ? s.key.songId : ''}"
									title="내 리스트에 담기"
									style="background-image: url('../images/icon/myPlayList.png'); width: 50px; height: 50px; background-size: cover; background-repeat: no-repeat;">
								</button>
							</td>
						</tr>

					</tbody>
				</table>
			</div>
		</div>
	</main>
	<!-- 플레이리스트 모달 -->
    <div class="modal fade" id="staticBackdrop3"
        data-bs-backdrop="static" data-bs-keyboard="false"
        tabindex="-1" aria-labelledby="staticBackdropLabel"
        aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">추가할 플레이리스트</h5>
                    <button type="button" class="btn-close"
                        data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div id="playLists" class="modal-body"
                    style="height: 393px;">
                    <!--  플리가 추가 될 부분 -->
                </div>
                <nav aria-label="Playlist navigation">
                    <ul id="pagination"
                        class="pagination pagination-sm justify-content-center">
                        <!-- 페이징이 추가될 부분 -->
                    </ul>
                </nav>
                <div class="modal-footer">
                    <button type="button"
                        class="btn btn-outline-secondary"
                        data-bs-dismiss="modal">취소</button>
                </div>
            </div>
        </div>
    </div>
	<footer>
		<!-- 모달 요소들을 footer로 사용. 모든 페이지에 사용되기 때문 -->
		<th:block th:replace="~{layout/fragments :: footer}"></th:block>
	</footer>
	<script th:with="user=${#authentication.principal}" th:inline="javascript">
		const albumId = /*[[${album.albumId}]]*/'';
		let authUser = /*[[${loginUserId}]]*/ '';
		let refresh = /*[[${refresh}]]*/'';
		// 리다이렉트 시 재생페이지를 새로고침하기 위한 코드
	</script>
	<script th:src="@{/js/addCurrentPlayList.js}"></script>
	<script th:src="@{/js/album_detail.js}"></script>


</body>

</html>