<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <th:block th:replace="~{layout/fragments :: documentHeader}"></th:block>
    </head>
    <body>
        <th:block th:replace="~{layout/fragments :: header}"></th:block>
		
        <main>
            <div class="mt-5 d-flex justify-content-center" >
                <div class="container text-center m-5 border p-4 rounded" style="width:900px; min-width:900px">
                    <div class="row">
                      <div class="col-7 order-first">
                        <p class="mt-2 fs-3">Rest 음악 MP3 정기결제이용권</p>
                      </div>
                      <div class="col-5 order-last row">
                          <p class="col fs-4 mt-2">4400원</p>
                        <button class="btn btn-primary btn-sm fs-3 col" title="test" id="purchase">구매</button>
                      </div>
                    </div>
                </div>  
            </div>
        </main>
        
        <th:block th:replace="~{layout/fragments :: footer}"></th:block>
        
        <script th:inline="javascript">
            const refresh = /*[[${refresh}]]*/ '';
            const loginUserId = /*[[${loginUserId}]]*/ null;
        </script>
        
        <script src="https://cdn.iamport.kr/v1/iamport.js"></script>
        
        <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
        
        <script src="/js/purchase.js"></script>
        <script src="/js/addCurrentPlayList.js"></script>
	</body>
</html>